<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../assets/xml/rss.xsl" media="all"?><rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>Senthil Kumaran (Posts about events)</title><link>http://www.xtoinfinity.com/</link><description></description><atom:link href="http://www.xtoinfinity.com/categories/events.xml" rel="self" type="application/rss+xml"></atom:link><language>en</language><lastBuildDate>Thu, 05 Dec 2019 23:59:07 GMT</lastBuildDate><generator>Nikola (getnikola.com)</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>First day at Okta</title><link>http://www.xtoinfinity.com/posts/first-day-at-okta.html</link><dc:creator>Senthil Kumaran</dc:creator><description>&lt;div&gt;&lt;p&gt;Joined my new company, Okta, today. Eventful day with lot of people and process training, but a meaningful one
wherein I got the feel of the pending tasks, by making change, going through the process, witnessing the test runs
and committing the code on the first day itself.&lt;/p&gt;
&lt;p&gt;Onwards with Always On. :)&lt;/p&gt;&lt;/div&gt;</description><category>events</category><guid>http://www.xtoinfinity.com/posts/first-day-at-okta.html</guid><pubDate>Tue, 22 Dec 2015 05:25:00 GMT</pubDate></item></channel></rss>